APP_NAME=InventoryPro
APP_ENV=production
APP_KEY=base64:EWAesvSHfN0j3Bbo1azs+XiaYrjmLy+UE7p7fZv8//4=
APP_DEBUG=false
APP_URL=https://nebulacore-blue.vercel.app

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

BCRYPT_ROUNDS=10

LOG_CHANNEL=stderr
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# MongoDB Configuration
DB_CONNECTION=mongodb
DB_HOST=cluster0.70sbh.mongodb.net
DB_PORT=27017
DB_DATABASE=inventory2
DB_USERNAME=zenzayya4
DB_PASSWORD=rizalrosyid123

# MongoDB Connection String (WAJIB untuk Vercel)
MONGODB_URI=mongodb+srv://zenzayya4:rizalrosyid123@cluster0.70sbh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

SESSION_DRIVER=array
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync

CACHE_DRIVER=array
CACHE_STORE=array

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="noreply@nebulacore.vercel.app"
MAIL_FROM_NAME="InventoryPro"

VITE_APP_NAME="${APP_NAME}"

# Optimasi untuk Vercel
VIEW_CACHE=false