APP_NAME=InventoryPro
APP_ENV=local
APP_KEY=base64:x3FCeN6+8ZUphF3nYFPAL+BunR9/yT9CrNGapd0z0Ko=
APP_DEBUG=true
APP_URL=https://localhost

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

BCRYPT_ROUNDS=10

LOG_CHANNEL=stderr
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=inventory2
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=array
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync

CACHE_DRIVER=array
CACHE_STORE=array

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="noreply@nebulacore.vercel.app"
MAIL_FROM_NAME="InventoryPro"

VITE_APP_NAME="${APP_NAME}"

# Optimasi untuk Vercel
VIEW_CACHE=false